freemocap_video_export/__pycache__/functions.cpython-310.pyc
freemocap_video_export/__pycache__/config_variables.cpython-310.pyc
freemocap_video_export/__pycache__/classes.cpython-310.pyc
freemocap_video_export/__pycache__/addon_interface.cpython-310.pyc
freemocap_video_export/__pycache__/__init__.cpython-310.pyc
freemocap_adapter/__pycache__/__init__.cpython-310.pyc
.vscode/launch.json
